{% load staticfiles %}
<footer class="m-tabbar tabbar-fixed">
    <a href="/index" class="tabbar-item tabbar-active">
                <span class="tabbar-icon">
                    <i class="demo-icons-weixin"></i>
{#                    <span class="badge badge-danger">2</span>#}
                </span>
        <span class="tabbar-txt">主页</span>
    </a>
    <a href="/checkin" class="tabbar-item">
                <span class="tabbar-icon">
                    <i class="icon-compose"></i>
                    <i class="demo-icons-contact"></i>
                </span>
        <span class="tabbar-txt">签到</span>
    </a>
    <a href="/personal" class="tabbar-item">
                <span class="tabbar-icon">
                    <i class="demo-icons-me"></i>
                </span>
        <span class="tabbar-txt">我</span>
    </a>
</footer>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $(document).ready(function () {
        count = 0
        $(".tabbar-item").click(function () {
            $(this).addClass("tabbar-active");
            count++;
            alert(count)
        });
    });
</script>